# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment folders
venv/
.venv/
env/
ENV/

# Logs
*.log

# Database files
*.sqlite3
snap.db

# Secret environment variables
.env
.env.*

# macOS and Windows junk
.DS_Store
Thumbs.db

# Editor/IDE folders
.vscode/
.idea/

# Test & coverage files
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/

# Replit settings
.replit

# Other junk
*.bak
*.tmp
